In [29]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import tree
from sklearn import metrics
from sklearn import preprocessing 
from sklearn.ensemble import RandomForestClassifier
import json
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [30]:
train=pd.read_csv('/content/train.csv')
test=pd.read_csv('/content/test.csv')

In [31]:
train

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  2010-02-05      24924.50      False
1           1     1  2010-02-12      46039.49       True
2           1     1  2010-02-19      41595.55      False
3           1     1  2010-02-26      19403.54      False
4           1     1  2010-03-05      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  2012-09-28        508.37      False
421566     45    98  2012-10-05        628.10      False
421567     45    98  2012-10-12       1061.02      False
421568     45    98  2012-10-19        760.01      False
421569     45    98  2012-10-26       1076.80      False

[421570 rows x 5 columns]

In [32]:
train.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [40]:
X = train[['Dept','IsHoliday']].loc[ (train['Store']==1) ]
Y = train[['Weekly_Sales']].loc[ (train['Store']==1) ]

In [41]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [47]:
le=LabelEncoder()
le.fit(Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [42]:
LinReg = LinearRegression()
LinReg.fit(X_train, Y_train)

LinearRegression()

In [43]:
train6 = LinReg.fit(X_train,Y_train)
Y_pred6=LinReg.predict(X_test)
print(LinReg.score(X_test, Y_test))

0.12456797647886497

In [ ]:
print(f'Intercept = {LinReg.intercept_} \nCoefficient = {len(LinReg.coef_)}')

print(f'Mean Squared Error = {np.mean((LinReg.predict(X_test)-Y_test)**2)}'
      + f'\nVariance Score = {LinReg.score(X_test,Y_test)}')

In [45]:
from sklearn import metrics
print(f'Mean Squared Error = {np.sqrt(metrics.mean_squared_error(LinReg.predict(X_test),Y_test))}')

Mean Squared Error = 25907.647343711633